<ul class="list-group text-center">
     <li class="list-group-item"><h5>Enter City Name</h5></li>
     <li class="list-group-item"><input class="form-control" placeholder="Enter City" type="text" name="city" [(ngModel)]="city"></li> 
     <li class="list-group-item"><button class="btn btn-primary" type="submit" (click)="setWeatherByCity()" [disabled]="!city">Submit</button></li>
     <li class="list-group-item"><button class="btn btn-primary" type="submit" (click)="setWeatherByGPS()">Get Weather at Current Location</button></li>
</ul>
<div class="jumbotron" *ngIf="name">
<h1 class="text-center">{{name}}</h1><br>
<ul class="list-group">
  <li class="list-group-item"><b>Temperature:</b>  {{temp}} °C</li>
  <li class="list-group-item"><b>Humidity:</b>  {{humidity}} %</li>
  <li class="list-group-item" *ngFor="let w of weather"><b>Description:</b>  {{w.description}} <img src="http://openweathermap.org/img/w/{{w.icon}}.png"></li>
  <li class="list-group-item"><b>Pressure:</b>  {{pressure}} hPa</li>
  <li class="list-group-item"><b>Speed:</b>  {{speed}} m/s</li>
</ul>
</div>