<div class="row">
    <div class="col-4 offset-4">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-center">
    <ul class="navbar-nav">
        <li class="navbar-item">
                <a  class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="navbar-item">
                <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="navbar-item">
                <a class="nav-link" routerLink="baseconverter">BaseConverter</a>
        </li>
    </ul>
    </nav>
    </div>
    </div>
    <router-outlet></router-outlet>

