
    <nav class="navbar navbar-expand-mg bg-dark navbar-dark text-center">
                <a class="navbar-brand" routerLink="/">Aravind</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="navbar-item">
                <a  class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="navbar-item">
                <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="navbar-item">
                <a class="nav-link" routerLink="baseconverter">Converter</a>
        </li>
    </ul>
    </div>
    </nav>
    <router-outlet></router-outlet>
    
