<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark text-center">
    <ul class="navbar-nav">
        <li class="navbar-item">
                <a  class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="navbar-item">
                <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="navbar-item">
                <a class="nav-link" routerLink="baseconverter">Converter</a>
        </li>
    </ul>
    </nav>
    </div>
    <router-outlet></router-outlet>

