      <div class="container">
      <li class="list-group-item font-weight-bold text-center">BaseConverter</li>
      <ul class="list-group">
        <li class="list-group-item">
          <input class="form-control" type="text" placeholder="Decimal" name="decimal">
        </li>
        <li class="list-group-item">
            <input class="form-control" type="text" placeholder="Binary" name="binary">
          </li>
          <li class="list-group-item">
              <input class="form-control" type="text" placeholder="Octal" name="octal">
            </li>
            <li class="list-group-item">
                <input class="form-control" type="text" placeholder="Hexa" name="hexa">
              </li>
      </ul>
</div>