<ul class="list-group text-center">
    <li class="list-group-item font-weight-bold ">List of Laguages ( {{size}} ) </li>
    <li class="list-group-item" *ngFor = "let name of list let i=index">{{name | uppercase}}<span (click)="remove(i)">&times;</span></li>
    <li class="list-group-item" [hidden]="removing">
      <button type="submit" class="btn btn-success" (click)="addMore()" >Add More</button>
    </li>
      <li class="list-group-item" *ngIf="adding">
    <input type="text" class="form-control" [(ngModel)]="name">
    <br>
   <button class="btn btn-primary" type="submit" (click)="add()" [disabled]="!name" >Add</button>
  </li>
  </ul>