<div class="row">
  <div class="col-4 offset-4">
  <ul class="list-group text-center">
    <li class="list-group-item font-weight-bold ">List of Names ( {{size}} ) </li>
    <li class="list-group-item" *ngFor = "let name of list" [ngClass]="{ 'text-success' : name === 'Arun' }">{{name | uppercase}}</li>
    <li class="list-group-item" [hidden]="removing">
      <button type="submit" class="btn btn-success" (click)="addMore()" >Add More</button>
    </li>
      <li class="list-group-item" *ngIf="adding">
    <input type="text" class="form-control" [(ngModel)]="name">
    <br>
   <button class="btn btn-primary" type="submit" (click)="add()" [disabled]="!name" >Add Name</button>
  </li>
  </ul>
</div>
</div>
